In [8]:
import scipy.io as io
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

sb.set_style('darkgrid')

In [3]:
# datos
mat = io.loadmat('Faraday_con_ruido.mat')
faraday = pd.DataFrame(mat['S'], columns=['S'], index = mat['t'][0])
faraday.index = faraday.index*1000
faraday.head() #muestra en milisegundos

            S
0.0  0.550278
1.0  0.550117
2.0  0.549151
3.0  0.549151
4.0  0.546252

In [5]:
noise = pd.read_csv('N1000mV.txt', sep='\t', header=None)
noise.drop([0], axis=1, inplace=True)
noise.columns = ['un1', 'un2']
noise.head()

        un1       un2
0  0.000224 -0.500555
1  0.000063 -0.503776
2  0.000224 -0.505064
3  0.000063 -0.507479
4 -0.000098 -0.511505

In [7]:
## Gr√°ficos

faraday['dS'] = np.gradient(faraday['S'].values)
faraday['d2S'] = np.gradient(faraday['dS'].values)

In [12]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=faraday.index, y=faraday['S'], name='S(t)'))
fig.add_trace(go.Scatter(x=faraday.index, y=faraday['dS']*30, name='dS(t)'))
fig.add_trace(go.Scatter(x=faraday.index, y=faraday['d2S']*50, name='d2S(t)'))

fig.update_layout(
    title="Faraday",
    xaxis_title="Tiempo (ms)",
    yaxis_title="Amplitud",
    legend_title="Serie",
    xaxis=dict(
        rangeslider=dict(
            visible=True
        )
    )
)

fig.show()